/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 68%)

### Neutral

- Very Dark Blue: hsl(230, 29%, 20%)
- Dark Grayish Blue: hsl(230, 11%, 40%)
- Grayish Blue: hsl(231, 7%, 65%)
- Light Grayish Blue: hsl(207, 33%, 95%)

## Typography

### Body Copy

- Font size: 18px

### Headings, Call-to-actions, Navigation

font-family: 'Barlow Condensed', sans-serif;

- Family: [Barlow Condensed](https://fonts.google.com/specimen/Barlow+Condensed)
- Weights: 400, 700

### Body

font-family: 'Barlow', sans-serif;

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 400 */


:root{
    --cvdb: hsl(230, 29%, 20%);
    --cdgb: hsl(230, 11%, 40%);
    --cgb: hsl(231, 7%, 65%);
    --clgb: hsl(207, 33%, 95%);
    --cr: hsl(0, 100%, 68%);
    --ff1: 'Barlow Condensed', sans-serif;
    --ff2: 'Barlow', sans-serif;
    --fs0: 0.8rem;
    --fs1: 1.2rem;
    --fs2: 1.5rem;
    --fs3: 2rem;
    --fs4: 3rem;
    --fs5: 4rem;
} 

body{
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
}


.logo{
    max-width: none;    
}


.header-container{
    margin: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-nav ul{
    display: flex;
    align-items: center;
}

.desktop-nav ul li{
    padding: 0 1rem;
    list-style: none;
}

.desktop-nav ul li a{
    text-decoration: none;
    color: var(--cvdb);
    font-family: var(--ff1);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.desktop-nav a:hover{
    text-decoration: underline;
}

.login:hover{
    color: var(--cgb);
    transition: 0.5s ease;
}


.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 2rem;
}

.mobile_nav{
    display: none;
}

.hamburger{
    display: none;
}

.mobile-nav{
    display: none;
}

/*HERO*/

main{
    display: flex;
    font-family: var(--ff1);
    margin: 8rem 7rem;
}

.left-content{
    width: 100%;
}

.left-content div{
    display: flex;
   
}

.new{
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: var(--cvdb);
    color: var(--clgb);
    border-radius: 20px;
    text-transform: uppercase;
    font-family: var(--ff1);
    font-weight: 700;
    font-size: var(--fs1);
    margin-right: 1rem;
    letter-spacing: 0;
}

.left-content h3{
    font-family: var(--ff2);
    font-size: var(--fs0);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--cgb);
    text-align: left;
}

.left-content h1{
    margin: 2rem 0 1.5rem 0;
    text-transform: uppercase;
    font-size: var(--fs5);
    color: var(--cvdb);
    max-width: 580px;
    line-height: 4.5rem;
}

.left-content p{
    font-size: var(--fs1);
    color: var(--cdgb);
    font-family: var(--ff2);
    max-width: 300px;
    margin-bottom: 3rem;
}

.left-button{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.left-button button{
    padding: 0.6rem 1.5rem;
    font-family: var(--ff1);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clgb);
    background-color: var(--cr);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-button button:hover{
    opacity: 70%;
    transition: 0.5s ease;
}

.left-button span{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--cgb);
}

.right-content{
    margin-right: -400px;
}

.right-content img{
    margin-top: -450px;
    max-width: 1000px;
}

.right-background{
    position:relative;
    top: -210px;
    z-index: -1;
    right: 0;
    height: 400px;
    width: 700px;
    background-color: var(--clgb);
    border-radius: 0 0 0 5rem;
}